<ion-header>
    <ion-toolbar>
        <app-header></app-header>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-grid>
          <ion-row>
              <ion-col>
                  <ion-list>
                      <ion-grid>
                        <ion-row>
                          <ion-col style="display:justify; align-content: center; margin:2%; justify-content: center; font-size:1.5rem; border-bottom:1px solid grey;">
                            <b>My orders</b>
                          </ion-col>
                        </ion-row>
                        <!--
                          <ion-row class = "ordersTitleBar">
                              <ion-col class="ordersTitle" size="2" size-md="2" offset-md="1" size-lg="2">
                                  Product Name
                              </ion-col>
                              <ion-col class="ordersTitle" size="2" size-md="2" size-lg="2">
                                  Seller Name
                              </ion-col>
                              <ion-col class="ordersTitle" size="2" size-md="2" size-lg="2">
                                  From
                              </ion-col>
                              <ion-col class="ordersTitle" size="2" size-md="2" size-lg="2">
                                  To
                              </ion-col>
                              <ion-col class="ordersTitle" size="2" size-md="2" size-lg="2">
                                  Status
                              </ion-col>
                          </ion-row>-->
                          <ion-row *ngIf="isLoading">
                              Loading orders...
                          </ion-row>
                          <ion-row *ngFor="let order of orders" class="orderContainer" class="ion-hide-sm-down">
                              <ion-item-sliding button [routerLink]="['/order-details', order._id]">
                                  <ion-item class="profileProductsItem ion-no-padding " (click)="order.openDetails = !order.openDetails">
                                      <ion-col size="1" class="ion-hide-sm-down">
                                          <ion-avatar>
                                              <img *ngIf="order.product.image" src="{{ order.product.image }}">
                                          </ion-avatar>
                                      </ion-col>
                                      <ion-col size="11">
                                          <ion-row>
                                              <ion-col size="2" style="font-size:20px;" >
                                                  <b>{{ order.product.name }}</b>
                                              </ion-col>
                                              
                                          </ion-row>
                                          <ion-row>
                                              <ion-col size="2" size-md="2" size-lg="2" >
                                                  by {{ order.seller.name }} | <b>{{ order.status }}</b>
                                                </ion-col> 
                                          </ion-row> 
                                      </ion-col>
                                  </ion-item>
                                  <ion-item-options side="end" *ngIf="order.status != 'accepted'">
                                      <ion-item-option color="success" (click)="acceptOrder(order._id)">
                                          Delete
                                      </ion-item-option>
                                  </ion-item-options>
                              </ion-item-sliding>
                          </ion-row>

                          <!-- Mobile version -->
                          <ion-row *ngFor="let order of orders" class="orderContainer" class="ion-hide-md-up">
                              <ion-item-sliding button [routerLink]="['/order-details', order._id]">
                                  <ion-item class="profileProductsItem ion-no-padding " (click)="order.openDetails = !order.openDetails">
                                      <ion-col size="1" >
                                          <ion-avatar style="width:auto; height:auto;">
                                              <img *ngIf="order.product.image" style="width:auto; height:auto;" src="{{ order.product.image }}">
                                          </ion-avatar>
                                      </ion-col>
                                      <ion-col size="11">
                                          <ion-row>
                                              <ion-col style="font-size:20px;" >
                                                  <b>{{ order.product.name }}</b>
                                              </ion-col>
                                              
                                          </ion-row>
                                          <ion-row>
                                              <ion-col>
                                                  Seller: <b>{{ order.seller.name }}</b>
                                                </ion-col> 
                                          </ion-row> 
                                          <ion-row>
                                            <ion-col>
                                              Status: <b>{{ order.status }}</b>
                                            </ion-col>
                                          </ion-row>
                                          <ion-row>
                                              <ion-col>
                                                Placed on: <b>{{ order.orderDate | date : "dd.MM.y hh:mm" }}</b>
                                              </ion-col>
                                            </ion-row>
                                      </ion-col>
                                  </ion-item>
                                  <ion-item-options side="end" *ngIf="order.status != 'accepted'">
                                      <ion-item-option color="success" (click)="acceptOrder(order._id)">
                                          Delete
                                      </ion-item-option>
                                  </ion-item-options>
                              </ion-item-sliding>
                          </ion-row>
                      </ion-grid>
                  </ion-list>

              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-content>