<ion-card *ngIf="user" >
  <ion-grid>
    <ion-row>
      <ion-col size="2" style="padding:0; display:flex; text-align:center; justify-content: center;">
          <div class="thumbnail" style="width:2.5em; height:2.5em;" class="ion-hide-md-up">
              <ion-avatar style="width:100%; height:100%;"><img style="width:100%; height:100%;"
                                                                src="{{ user.image }}"/>
              </ion-avatar>
          </div>

          <div class="thumbnail" style="width:3em; height:3em;" class="ion-hide-sm-down">
              <ion-avatar style="width:100%; height:100%;"><img style="width:100%; height:100%;"
                                                                src="{{ user.image }}"/>
              </ion-avatar>
          </div>
      </ion-col>
      <ion-col size="3">
       <b>{{ user.name }}</b>
      </ion-col>
      <ion-col>
        <app-rating [rating]="review.rating"></app-rating>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="review.comment" offset="2">
        <ng-container *ngIf="review.comment"> {{ review.comment }}</ng-container>
        <ng-container *ngIf="!(review.comment)"> The review does not have a comment.</ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>