<ion-grid>
    <ion-row>
        <ion-col size="12" size-md="6" size-xl="9" >
            <app-profile-informations *ngIf="user" [profileItem]="user" [changeable]="true"
                                      [valuesToHide]="valuesToHide" [type]="'user'"></app-profile-informations>
            <ion-item> *Note: If you want to become a seller, you need to specify your name, address and country</ion-item>
        </ion-col>
        <ion-col size="12" size-md="6" size-xl="3">
            <ion-card *ngIf="notifications" >
                <ion-card-title class="notificationTitle ion-align-items-center">
                    Notifications
                </ion-card-title>
                <ion-card-content *ngFor="let notification of notifications">
                    <ion-item [color]="!notification.read ? 'light' : ''" >
                        <ion-icon (click)="deleteNotification(notification._id)"
                                  size="large" slot="start" color="danger" name="close"></ion-icon>
                        <ion-label [routerLink]="[notification.link]" > {{ notification.text }} </ion-label>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>


