<ion-col size="12" size-md="6" size-xl="3">
    <ion-card *ngIf="notifications.length > 0">
        <ion-card-content *ngFor="let notification of notifications">
            <ion-item [color]="!notification.read ? 'light' : ''" >
                <ion-icon (click)="deleteNotification(notification._id)"
                          size="large" slot="start" color="danger" name="close"></ion-icon>
                <ion-label [routerLink]="[notification.link]" > {{ notification.text }} </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <div class="message">You have no nofitications yet.</div>
</ion-col>