.burgerMenuToolbar {
  position: absolute;
  bottom: 0;
}

.burgerMenuAdmin {
  --background-hover: var(--ion-color-light);
  --border-color: var(--ion-color-primary);
  --border-style: solid;
  --border-width: 2px;
}