<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
          <ion-menu-toggle auto-hide="false">
          <ion-item *ngIf="auth.isLoggedIn() && auth.isAdmin()" routerLink="/admin" [routerDirection]="'root'">
            <ion-icon name="settings" slot="start"></ion-icon>
            <ion-label>Admin</ion-label>
          </ion-item>
          <span *ngFor="let category of categories">
            <ion-item lines="none" routerLink="/">
              <ion-label> {{ category.name }}</ion-label>
            </ion-item>
          </span>
          <ion-item routerLink="/">
            <ion-icon name="wallet" slot="start"></ion-icon>
            <ion-label>Become a Seller</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
