<ion-header>
    <ion-toolbar>
        <app-top-header></app-top-header>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col offset="2" size="6">
                <h1>Welcome</h1>
                <ion-text>
                    1) Demo <br/> <br/>
                    2) Documentation <br/> <br/>
                    3) Component hierarchy, general folder structure <br/>
                    selber struktur bestimmen<br/>
                    4) backend structure <br/> <br/>
                    5) milestone 2 <br/> <br/>
                    6) have we missed anything <br/> <br/>

                    ..) if time: ionic popover centered

                    Tasks

                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<app-footer></app-footer>


