<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Forgot Password
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row>
    <ion-col size="10" offset="1">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitGetPassword()">
        <ion-card>
          <app-input-form
                  [inputForm]="forgotPasswordForm" [givenName]="'email'" [text]="'Email*'" [validationMessages]="validationMessages.email"
                  [type]="'email'" [inputMode]="'email'">
          </app-input-form>
        </ion-card>
        // Insert serverside errormessage if email does not exist
        <ion-card class="formButton">
          <ion-button class="formButton" fill="empty" expand="block" type="submit"> Get new password </ion-button>
        </ion-card>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
