<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title class="popoverTitle">
        Forgot Password
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row>
    <ion-col size="10" offset="1">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitGetPassword()">
        <ion-card class="formElement" >
          <app-input-form
                  [inputForm]="forgotPasswordForm" [givenName]="'email'" [text]="'Email*'" [validationMessages]="validationMessages.email"
                  [type]="'email'" [inputMode]="'email'">
          </app-input-form>
        </ion-card>
        <ion-item *ngIf="messageReceived" class="invalid-feedback"> {{ message }}</ion-item>
        <ion-button class="formButton" expand="block" type="submit"> Submit </ion-button>
      </form>
      <ion-card *ngIf="forgotEmailSent">
        We have sent an email containing your new password to your email-address.
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
