<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Forgot Password
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row>
    <ion-col size="10" offset="1">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitGetPassword()">
        <ion-card>
          <ion-item>
            <ion-label position="floating"> Email* </ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>
        </ion-card>
        <div *ngIf=" (form.email.dirty || form.email.touched) && form.email.errors" class="invalid-feedback">
          <div *ngIf="form.email.errors.required"> Email is required </div>
          <div *ngIf="form.email.errors.email"> Not a valid address </div>
        </div>
        <ion-card class="formButton">
          <ion-button class="formButton" fill="empty" expand="block" type="submit"> Log In </ion-button>
        </ion-card>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
