<ion-list>
    <ion-grid>
        <ion-row class = "ordersTitleBar">
            <ion-col class="ordersTitle" offset="1">
                Product
            </ion-col>
            <ion-col class="ordersTitle">
                Customer
            </ion-col>
            <ion-col class="ordersTitle">
                Ordered on
            </ion-col>
        </ion-row>
        <ion-row *ngIf="isLoading">
            Loading orders...
        </ion-row>
        <ion-row *ngFor="let order of orders">
            <ion-item-sliding [routerLink]="['../order-details', order._id]">
                <ion-item class="profileProductsItem ion-no-padding ">
                    <ion-col size="1">
                        <ion-avatar style="width:auto; height:auto;">
                            <img style="width:auto; height:auto;" *ngIf="order.product.image" src="{{ order.product.image }}">
                        </ion-avatar>
                    </ion-col>
                    <ion-col>
                        {{ order.product.name }}
                    </ion-col>
                    <ion-col  >
                        {{ order.buyer.name }}
                    </ion-col>
                    <ion-col >
                        {{ order.orderDate | date : "dd.MM.y hh:mm" }}
                    </ion-col> 
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option color="success" (click)="acceptOrder(order._id)">
                        Accept
                    </ion-item-option>
                    <ion-item-option color="danger" (click)="rejectOrder(order._id)">
                        Reject
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-row>
    </ion-grid>
</ion-list>
