.line {
  border-bottom: 1px solid grey;
}

.bigTitle {
  font-size: 50px;
}

.mediumTitle {
  text-align: center;
}

img.pic-square {
  height: 200px;
  object-fit: cover;
  width: 200px;
}

.backgroundGradient {
  background-image: linear-gradient(var(--ion-color-secondary), var(--ion-color-light));
}

.cardMargin {
  margin: 0px;
  padding: 10px;
}

.filterPopover {
  width: auto;
  height: auto;
  overflow: visible;
}

.rating {
  cursor: pointer;
  margin-right: 5px;
}

:host {
  ion-grid {
    padding-top: 0px;
    margin-top: 0px;
  }

  ion-range {
    --bar-height: 4px;
    --knob-size: 25px;
    padding-top: 0px;
    margin-top: 0px;
  }
}

  
.item {
  margin-top: 0;
}

.filter-col {
  border-right: 1px solid var(--ion-color-medium);
  box-shadow: 1px 1px 2px 0px var(--ion-color-medium);
}

.filter-list {
  min-height: 2rem;
  padding-top: 0.5rem;
  box-sizing: border-box;
  .button {
    --border-color: var(--ion-color-secondary-shade);
    --color: var(--ion-color-secondary-shade);
  }
}

app-filter {
  max-width: 100%;

  .filter-title {
    font-size: 1.2em;
    width: 100%;
  }

  .filter-input {
    width: 100%;
  }
}

.sortBy {
  font-size: 18px;
  font-weight: bold;
  color: var(--ion-color-primary);
  border-color: var(--ion-color-primary);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 10px;
}
