<ion-header>
    <ion-toolbar>
        <app-header></app-header>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding">
    <ion-toolbar mode="md" *ngIf="subcategory" class="backgroundGradient cardMargin">
        <ion-grid>
            <ion-row>
                <ion-col size="12" offset="0" offset-md="2" size-md="8" offset-lg="3" size-lg="6">
                    <ion-title mode="md" class="ion-no-padding bigTitle">{{ subcategory.name }}</ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
        <img src="../../../../assets/images/header7.png">
    </ion-toolbar>
    <ion-grid class="ion-padding-none">
        <ion-row class="filter-list">
            <ion-col size="12" offset="0" offset-md="2" size-md="8" offset-lg="3" size-lg="6">
                <ion-card class="noShadow">
                    <ng-container *ngFor="let filter of filterargsToDisplay">
                        <ion-button *ngIf="filter.name=='rating'" class="button" size="small" fill="outline"
                                    (click)="removeFilter(filter)">
                            <ion-icon *ngFor="let i of array(5)" class="rating"
                                      [name]="i>filter.value ? 'star-outline' : 'star'"></ion-icon>
                            <ion-icon name="close"></ion-icon>
                        </ion-button>
                        <ion-button *ngIf="filter.name=='price'" class="button" size="small" fill="outline"
                                    (click)="removeFilter({name: 'minPrice', operator: '<=', value: '0'}); removeFilter({name: 'maxPrice', operator: '>=', value: '0'})">
                            <ion-icon name="pricetag"></ion-icon>
                            {{ selectedPrice.lower }}CHF - {{ selectedPrice.upper }}CHF
                            <ion-icon name="close"></ion-icon>
                        </ion-button>
                    </ng-container>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" offset="0" offset-md="2" size-md="8" offset-lg="3" size-lg="6">
                <ion-row>
                    <ion-col offset="2" offset-md="0">
                        <ion-select class="sortBy" placeholder="Sort by" okText="Sort" cancelText="Cancel"
                                    (ionChange)="onSortChange($event)">
                            <ion-select-option value="+price">Price ascending</ion-select-option>
                            <ion-select-option value="-price">Price descending</ion-select-option>
                            <ion-select-option value="+date">Date ascending</ion-select-option>
                            <ion-select-option value="-date">Date descending</ion-select-option>
                            <ion-select-option value="+rating">Rating ascending</ion-select-option>
                            <ion-select-option value="-rating">Rating descending</ion-select-option>
                        </ion-select>
                    </ion-col>
                </ion-row>
                <ion-col offset="2" offset-md="0">
                    <ion-button fill="empty" class="blueButton" (click)="displayHideFilterOptions();"
                                *ngIf="!filterOptions">Filter Results
                    </ion-button>
                </ion-col>
                <ion-card *ngIf="filterOptions">
                    <ion-col class="filter-col ion-margin-top">
                                <app-filter>
                                    <div class="filter-title" title>Select min. Rating:</div>
                                    <div class="filter-input" input>
                                        <ion-icon *ngFor="let i of array(5)" class="rating"
                                                  [name]="i>filledStars ? 'star-outline' : 'star'"
                                                  (mouseenter)="fillTo(i)"
                                                  (click)="onRatingFilterChanged(i)"></ion-icon>
                                    </div>
                                </app-filter>
                        <ion-row class="spacer"></ion-row>
                        <app-filter>
                            <div class="filter-title" title>Select Price range:</div>
                            <div class="filter-input" input>
                                <ion-range id="priceRangeInput" [min]="priceSpan.lower" [max]="priceSpan.upper"
                                           dualKnobs="true"
                                           pin="true" step="1" [value]="priceSpan"
                                           (ionChange)="onPriceSliderChange($event)"></ion-range>
                                <ion-row>
                                    <ion-col class="priceRangePadding" size="2">
                                        <ion-text>From:</ion-text>
                                    </ion-col>
                                    <ion-col size="2">
                                        <ion-input id="minPriceInput" type="number" debounce="500"
                                                   [value]="priceSpan.lower"
                                                   (ionInput)="onMinPriceChange(undefined)"></ion-input>
                                    </ion-col>
                                    <ion-col class="priceRangePadding" size="1">
                                        <ion-text>to:</ion-text>
                                    </ion-col>
                                    <ion-col size="3">
                                        <ion-input id="maxPriceInput" type="number" [value]="priceSpan.upper"
                                                   (ionInput)="onMaxPriceChange(undefined)"></ion-input>
                                    </ion-col>
                                    <ion-col class="priceRangePadding" size="2">
                                        <ion-text>CHF</ion-text>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </app-filter>
                        <ion-button class="greyButton" fill="empty" (click)="displayHideFilterOptions();"
                                    *ngIf="filterOptions">Hide
                        </ion-button>
                    </ion-col>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" offset="0" offset-md="2" size-md="8" offset-lg="3" size-lg="6">
                <ion-grid>
                    <ion-row>
                        <ion-col *ngFor="let product of products" size="10" offset="1" size-md="6" offset-md="0"
                                 size-xl="4">
                            <app-subcategory-item class="item" [verified]="product.verified" [rating]="product.rating"
                                                  [id]="product._id" [name]="product.name" [price]="product.price"
                                                  [location]="product.location" [imageSrc]="product.image">
                            </app-subcategory-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
