<ion-card>
	<ion-card-header>
			<ion-avatar>
					<img [src]="user.image || 'https://api.adorable.io/avatars/128/'+ user._id">
				</ion-avatar>
		<ion-card-title>{{ user.email }}</ion-card-title>
	</ion-card-header>
	<ion-card-content>
		<ion-grid #grid>
			<ion-row class="row" *ngFor="let key of userData">
				<ion-col>{{ getKeyString(key) }}</ion-col>
				<ion-col>{{ getValueString(key) }} </ion-col>
				<ion-col *ngIf="changeable" size="1">
					<ion-icon class="cursor-pointer" name="create" (click)=onClickEdit()></ion-icon>
				</ion-col>
				<ion-col *ngIf="changeable" class="hidden">
					<ion-input [value]="user[key]" (ionChange)="onChangedInput()"></ion-input>
				</ion-col>
				<ion-col *ngIf="changeable" class="hidden" size="1">
						<ion-icon class="cursor-pointer" name="save" (click)=onClickSave()></ion-icon>
				</ion-col>
				<ion-col class="hidden"size="0">{{key}}</ion-col>
			</ion-row>
		</ion-grid>
		<ion-button #updateButton color="warning" class="hidden ion-float-right" (click)="onClickSave()">Update</ion-button>
		
	</ion-card-content>
</ion-card>