<ion-toolbar>
    <ion-grid>
        <ion-col>
            <ion-button fill="empty"><ion-icon name="beer"></ion-icon>Food and Beverage</ion-button>
        </ion-col>
        <ion-col>
            <ion-button fill="empty"><ion-icon name="bonfire"></ion-icon>Infrastructure</ion-button>
        </ion-col>
        <ion-col>
            <ion-button fill="empty"><ion-icon name="microphone"></ion-icon>Services</ion-button>
        </ion-col>
        <ion-col>
            <ion-button fill="empty"><ion-icon name="cog"></ion-icon>Equipment</ion-button>
        </ion-col>
        <ion-col>
            <ion-button fill="empty"><ion-icon name="home"></ion-icon>Real Estate</ion-button>
        </ion-col>
    </ion-grid>
</ion-toolbar>
