.product-title {
    font-weight: bold;
    font-size: 30px;
}

:host ion-item {
    --padding-bottom: 20px;
    --min-height: 0px;
}

.rating {
    cursor: pointer;
    margin-right: 5px;
}

.statusMessage {
      text-align:center;
      margin-top:10%;
}

.cardDetails {
    padding: 20px;
}

ion-img{
  max-height: 40vh;
}
