<ion-list>
    <ion-grid class="ion-padding-start">
        <ion-row *ngFor="let user of userList">
            <ion-col size="12" offset="0" offset-md="2" size-md="8" offset-lg="3" size-lg="6">
            <ion-item-sliding>
                <ion-item class="ion-no-padding cursor-pointer {{ user.admin ? 'admin-user' : '' }}"
                          (click)="user.openDetail = !user.openDetail">
                    <ion-col size-md="2">
                        <img class="adminBadge" *ngIf="user.admin" src="../../../../assets/images/admin.png">
                        <ion-avatar class="hide-sm">
                            <img *ngIf="!isUndefined(user.image)" src="{{ user.image }}">
                        </ion-avatar>
                    </ion-col>
                    <ion-col size="9">
                        {{ user.email }}
                    </ion-col>
                    <ion-col size="1">
                        <ion-icon [name]="
							user.openDetail
							  ? 'ios-arrow-up'
							  : 'ios-arrow-down'
						  "></ion-icon>
                    </ion-col>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="deleteUser(user._id)">
                        Delete
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
            <ion-col *ngIf="user.openDetail">
                <app-profile-informations [profileItem]="user" [changeable]="!user.admin"
                                          [valuesToHide]="valuesToHide" [type]="'user'" (deleteEvent) = "deleteUser(user._id)"></app-profile-informations>
            </ion-col>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-list>
