<ion-header>
  <ion-toolbar>
    <ion-title>
      Join now!
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row>
      <ion-col size="10" offset="1">
          <form [formGroup]="registrationForm" (ngSubmit)="onSubmitRegistration()">
          <ion-card>
            <ion-item>
              <ion-label position="floating"> Email* </ion-label>
              <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
          </ion-card>
              <div *ngIf="(form.email.dirty || form.email.touched) && form.email.errors" class="invalid-feedback">
                  <div *ngIf="form.email.errors.required"> Email is required </div>
                  <div *ngIf="form.email.errors.email"> Not a valid email </div>
              </div>
          <ion-card>
            <ion-item>
              <ion-label position="floating"> Password* </ion-label>
              <ion-input [type]="type" formControlName="password"></ion-input>
              <ion-icon *ngIf="!showingPassword" slot="end" name="eye" (click)="showPassword(true)"></ion-icon>
              <ion-icon *ngIf="showingPassword" slot="end" name="eye-off" (click)="showPassword(false)"></ion-icon>
            </ion-item>
          </ion-card>
              <div *ngIf="(form.password.dirty || form.password.touched) && form.password.errors" class="invalid-feedback">
                  <div *ngIf="form.password.errors.required"> Password is required </div>
                  <div *ngIf="form.password.errors.minlength"> Password must contain 6 characters </div>
              </div>
          <div *ngIf="messageReceived" class="invalid-feedback"> {{ message }} </div>
          <ion-card class="formButton">
            <ion-button class="formButton" fill="empty" size="block" type="submit">Join now</ion-button>
          </ion-card>
        </form>
        <ion-text >
          Already a member?
          <ion-button fill="empty" size="small" (click)="presentLoginPopover($event)"> Log In </ion-button>
        </ion-text>
      </ion-col>
    </ion-row>
</ion-content>
