<ion-item [formGroup]= "inputForm">
  <ion-label position="floating"> {{ text }} </ion-label>
  <ion-input [type]= "type" [formControlName] = "givenName"  [inputmode] = "inputMode" ></ion-input>
  <div *ngIf="isPassword" slot="end">
    <ion-icon *ngIf="!showingPassword" name="eye" (click)="showPassword(true)"></ion-icon>
    <ion-icon *ngIf="showingPassword" name="eye-off" (click)="showPassword(false)"></ion-icon>
  </div>
  <div>
    <div *ngFor="let validation of validationMessages">
      <div class="invalid-feedback" *ngIf="inputForm.get(givenName).hasError(validation.type) && (inputForm.get(givenName).dirty || inputForm.get(givenName).touched)">
        {{ validation.message + "\n"}}
      </div>
    </div>
  </div>
</ion-item>