.carouselTitle {
  text-align: center;
  text-transform: uppercase;
  color: var(--ion-color-secondary-shade);
  font-size: 3vw;
  letter-spacing: 0.5em;
  @media (max-width: 768px) {
    padding-top: 25px;
  }
  @media (min-width: 768px) {
    padding-top: 50px;
  }
}

.carouselBody {
  display: flex;
}

.carouselCard {
  padding: 0px;
  margin: 0px;
  box-shadow: none;
}

.line {
  border-bottom: 1px solid var(--ion-color-secondary-shade);
}

ion-toolbar{
  z-index: 0;
}
