.verified {
	color: var(--ion-color-success);
}

.nonverified {
	color: var(--ion-color-danger);
}

.cursor-pointer {
    cursor: pointer;
}

.scroll {
    overflow: auto;
    overflow-wrap: normal;
}

@media (max-width: 576px) {
	.hide-sm {
		display: none !important;
	}
}
