<ion-header>
    <ion-toolbar>
        <app-header></app-header>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-segment (ionChange)="onTabSwitch($event)">
        <ion-segment-button value="0" checked>
            <ion-label>Delete Offers</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1">
            <ion-label>Manage Users</ion-label>
        </ion-segment-button>
    </ion-segment>

    <!-- Tab 0: Delete Offers -->

        <app-delete-offers *ngIf="selectedTab === 0"></app-delete-offers>

    <!-- End of: Tab 0: Delete Offers -->

    <!-- Tab 1: Manage Users -->
    <ng-container *ngIf="selectedTab === 1"> </ng-container>
    <!-- End of: Tab 1: Manage Users -->
</ion-content>