<ion-header>
    <ion-toolbar>
        <app-header></app-header><ion-segment (ionChange)="onTabSwitch($event)">
        <ion-segment-button value="0" checked>
            <ion-label>Manage Offers</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1">
            <ion-label>Manage Users</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
            <ion-label>Add Categories</ion-label>
        </ion-segment-button>
    </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-manage-offers *ngIf="selectedTab === 0"></app-manage-offers>
    <app-manage-users *ngIf="selectedTab === 1"></app-manage-users>
    <app-add-category *ngIf="selectedTab === 2"></app-add-category>
</ion-content>