<ion-footer>
  <ion-toolbar color="medium">
    <ion-grid>
      <ion-row align-items-center>
        <ion-col size="1" offset="1">
          <app-logo></app-logo>
        </ion-col>
        <ion-col size="4" class="title">
          <ion-title  class="ion-no-padding">MOLN</ion-title>
        </ion-col>
        <ion-col size="2">
          <img class="maxHeight" src="../assets/images/unibern.png">
        </ion-col>
        <ion-col size="3" class="title">
          <ion-title  class="ion-no-padding">UniBe</ion-title>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="10" offset="1">
          <ion-text>Any Questions? We are happy to help!</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="10" offset="1">
          <ion-text>Email: info@moln.com</ion-text>
        </ion-col>
      </ion-row>

      <ion-row align-items-center>
        <ion-col size="5" offset="1">
          <ion-text>© MOLN - 2019</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
