.product-title {
    font-weight: bold;
}

:host ion-thumbnail {
    --size: 300px;
}

:host ion-item {
    --padding-bottom: 20px;
    --min-height: 0px;
}

.rating {
    cursor: pointer;
    margin-right: 5px;
  }

  .statusMessage {
      text-align:center;
      margin-top:10%;
  }