<ion-grid class="ion-no-margin ion-no-padding" *ngIf="authService.isLoggedIn()"
          style="text-align:right; overflow:hidden; justify-content: flex-end;">
    <ion-row style="justify-content: flex-end;">
        <ion-button *ngIf="authService.isLoggedIn()"
                    (click)="showNotificationsPopover($event)"
                    (deleteEvent)="checkForNewNotifications()"
                    class="blueButton headerButton" fill="outline">
            <ion-icon class="iconSize" name="notifications"></ion-icon>
        </ion-button>
        <ion-badge class="notificationsBadge" *ngIf="unreadCount > 0" color="danger">
            {{ unreadCount }}
        </ion-badge>
        <ion-button *ngIf="authService.isLoggedIn()"
                    (click)="showProfilePopover($event)"
                    style="margin-right: 1%; margin-left: 1px" fill="outline"
                    class="blueButton headerButton" id="profile">
            <ion-icon class="iconSize" name="person"></ion-icon>
        </ion-button>
    </ion-row>
</ion-grid>


<div>
    <!-- Buttons to be displayed when the user is not logged in -->
    <ion-button *ngIf="!authService.isLoggedIn()" size="small" class="greyButton" fill="empty"
                (click)="presentLoginPopover()">Login
    </ion-button>
    <ion-button *ngIf="!authService.isLoggedIn()" size="small" class="blueButton" fill="empty"
                (click)="presentRegistrationPopover()">Join
    </ion-button>
</div>
