.grid {
    border-bottom: 1px solid var(--ion-color-dark);
}

:host ion-button {
    max-width: 100%;
}

.image {
    border: 1px solid var(--ion-color-primary);
    @media (max-width: 768px) {
      width: 25vw;
      height: 25vw;
    }
    @media (min-width: 768px) {
      width: 20vw;
      height: 20vw;
    }
}

.imagePicker {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;
    @media (max-width: 768px) {
      width: 25vw;
      height: 25vw;
    }
    @media (min-width: 768px) {
      width: 22vw;
      height: 22vw;
    }
}
