.title{
  font-size: 30px;
}

.line {
  border-top: solid lightgray 0.5px;
  border-bottom: solid lightgray 0.5px;
}

.backgroundGradient{
  background-image: linear-gradient(var(--ion-color-secondary), var(--ion-color-primary));
}
