<div class="ion-float-right">
  <ion-button *ngIf="!authService.isLoggedIn()" size="small" class="greyButton" fill="empty" (click)="presentLoginPopover()">Login</ion-button>
  <ion-button *ngIf="!authService.isLoggedIn()" size="small" class="blueButton" fill="empty" (click)="presentRegistrationPopover()" >Join</ion-button>
  <ion-button *ngIf="authService.isLoggedIn() && authService.isAdmin()" size="small" class="greyButton" fill="empty" [routerLink]="['/admin']">Admin</ion-button>
  <ion-button *ngIf="authService.isLoggedIn()" size="small" class="greyButton" fill="empty" (click)="authService.logout()"> Logout </ion-button>
  <ion-button *ngIf="authService.isLoggedIn()" size="small" class="blueButton" fill="empty" routerLink="/profile" ><ion-icon name="person"></ion-icon></ion-button>
  <ion-button *ngIf="authService.isLoggedIn()" size="small" class="greyButton" fill="empty" routerLink="/add-products" [routerDirection]="'root'"><ion-icon name="add"></ion-icon>Add</ion-button>
</div>

