<ion-header>
    <ion-toolbar>
        <app-top-header></app-top-header>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-navigation-bar class="ion-hide-md-down"></app-navigation-bar>
    <app-home-banner></app-home-banner>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let cat of categories" offset="0" size="12" offset-md="1" size-md="10" >
                <app-carousel
                        [carouselName]="cat.name"
                        [categoryCarousel]= "[cat.subcategories]"
                        [carouselSlug] ="cat.slug"
                        [startingCarouselSize]="5">
                </app-carousel>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <img src="assets/images/homeSection1.jpeg" >
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card-header>
                        <ion-card-subtitle>You can't buy happiness but you can buy good food</ion-card-subtitle>
                        <ion-card-title>Food</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                        aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                        sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        At vero eos et accusam et justo duo dolores et ea rebum.
                    </ion-card-content>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <img src="assets/images/homeSection2.png" >
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card-header>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                        <ion-card-title>Music</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                        aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                        sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        At vero eos et accusam et justo duo dolores et ea rebum.
                    </ion-card-content>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <img src="assets/images/homeSection3.jpeg" >
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card-header>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                        <ion-card-title>Celebrations</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                        aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                        sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        At vero eos et accusam et justo duo dolores et ea rebum.
                    </ion-card-content>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col >
                    <img src="assets/images/homeSection4.png" >
                </ion-col>
                </ion-row>
                <ion-row>
                <ion-col >
                    <ion-card-header>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                        <ion-card-title>Parties</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                        aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                        sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        At vero eos et accusam et justo duo dolores et ea rebum.
                    </ion-card-content>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <app-footer></app-footer>
</ion-content>
