<ion-header no-border="">
    <ion-toolbar>
        <app-header></app-header>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item-divider mode="md" style="min-height: 1px;"></ion-item-divider>
    <ion-grid>
        <ion-row>
            <ion-col size="12" offset="0" offset-md="2" size-md="8" offset-lg="3" size-lg="6">
                <ion-list>
                    <ion-grid>
                        <ion-row>
                            <ion-col
                                style="display:justify; align-content: center; margin:2%; justify-content: center; font-size:1.5rem; border-bottom:1px solid grey;">
                                <b>My orders</b>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="isLoading">
                            Loading orders...
                        </ion-row>
                        <ion-row *ngFor="let order of orders" class="orderContainer" class="ion-hide-sm-down">
                            <ion-item-sliding button [routerLink]="['/order-details', order._id]">
                                <ion-item class="profileProductsItem ion-no-padding "
                                    (click)="order.openDetails = !order.openDetails">
                                    <ion-col size="2" class="ion-hide-sm-down">
                                        <div class="thumbnail" style="width:5em; height:5em; justify-content: center;">
                                            <ion-avatar style="width:auto; height:auto; object-fit: cover;">

                                                <img *ngIf="order.product.image" src="{{ order.product.image }}"
                                                    style="object-fit: cover; width:auto; height:auto">

                                            </ion-avatar>
                                        </div>
                                    </ion-col>
                                    <ion-col size="10">
                                        <ion-row>
                                            <ion-col size="10" size-md="6" size-lg="4" offset-md="2"
                                                style="font-size:20px;">
                                                <b>{{ order.product.name }}</b>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col size="10" size-md="8" size-lg="8" offset-md="2">
                                                Seller: {{ order.seller.name }} | <b>{{ order.status }}</b>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col size="10" size-md="8" size-lg="8" offset-md="2">
                                                Placed on: <b>{{ order.orderDate | date : "dd.MM.y hh:mm" }}</b>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                </ion-item>
                                <ion-item-options side="end" *ngIf="order.status != 'accepted'">
                                    <ion-item-option color="success" (click)="acceptOrder(order._id)">
                                        Delete
                                    </ion-item-option>
                                </ion-item-options>
                            </ion-item-sliding>
                        </ion-row>

                        <!-- Mobile version -->
                        <ion-row *ngFor="let order of orders" class="orderContainer" class="ion-hide-md-up">
                            <ion-item-sliding button [routerLink]="['/order-details', order._id]">
                                <ion-item class="profileProductsItem ion-no-padding "
                                    (click)="order.openDetails = !order.openDetails">
                                    <ion-col size="2">
                                            <div class="thumbnail" style="width:2em; height:2em;">
                                                    <ion-avatar style="width:auto; height:auto; object-fit: cover;">
        
                                                        <img *ngIf="order.product.image" src="{{ order.product.image }}"
                                                            style="object-fit: cover; width:auto; height:auto">
        
                                                    </ion-avatar>
                                                </div>
                                    </ion-col>
                                    <ion-col size="10">
                                        <ion-row>
                                            <ion-col style="font-size:20px;">
                                                <b>{{ order.product.name }}</b>
                                            </ion-col>

                                        </ion-row>
                                        <ion-row>
                                            <ion-col>
                                                Seller: <b>{{ order.seller.name }}</b>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col>
                                                Status: <b>{{ order.status }}</b>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col>
                                                Placed on: <b>{{ order.orderDate | date : "dd.MM.y hh:mm" }}</b>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                </ion-item>
                                <ion-item-options side="end" *ngIf="order.status != 'accepted'">
                                    <ion-item-option color="success" (click)="acceptOrder(order._id)">
                                        Delete
                                    </ion-item-option>
                                </ion-item-options>
                            </ion-item-sliding>
                        </ion-row>
                    </ion-grid>
                </ion-list>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>