<div>
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col size="1" size-sm="1" class="ion-hide-md-up">
                <div class="ion-hide-md-up" style="display:flex; justify-content: center; align-content: center; padding:0;">
                    <ion-buttons slot="start">
                        <ion-menu-button menu="m1">
                        </ion-menu-button>
                    </ion-buttons>
                </div>
            </ion-col>
            <ion-col size="6" size-sm="6" size-md="5" style="display:flex; justify-content: center; align-content: center; padding:0;">
                    <img class="headerImg" style="cursor:pointer; margin:auto; text-align:center" [routerLink]="['/home']" src="assets/images/logoFont7.png" >
            </ion-col>
            <ion-col class="ion-hide-sm-down" size-md="4"></ion-col>
            <ion-col class="ion-no-padding" size="5" size-sm="5" size-md="3" class="last-col" style="text-align: right; align-content:center; justify-content: flex-end;" >
                <app-header-buttons></app-header-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>