.divTopHeader {
  height: 52px;
  padding-top: 3px;
}

.imgSize {
  min-width: 10px;
}

.headerImg {
  padding: 0px 20px;
  outline: none;
}

.navigateHome {
  cursor: pointer;
}

.last-col {
  width: 1%;
}

