<ion-card class="carouselCard">
  <ion-toolbar>
    <ion-title class="carouselTitle">
      {{ carouselName }}
    </ion-title>
  </ion-toolbar>
  <ion-card-content class="line carouselBody ion-justify-content-center ion-align-items-center" >
      <ion-button size="large" fill="empty" slot="start" (click)="selectPreviousItem()" >
          <ion-icon name="arrow-dropleft" slot="end" ></ion-icon>
      </ion-button>
      <span *ngFor="let item of itemsToDisplay">
        <app-carousel-item [imageSrc]="item.image ? item.image : undefined" [name]="item.name" [slug]="item.slug" [id]="item._id" [link]="routerLink" ></app-carousel-item>
      </span>
      <ion-button size="large" fill="empty" slot="end" (click)="selectNextItem()">
          <ion-icon name="arrow-dropright" slot="start" ></ion-icon>
      </ion-button>
  </ion-card-content>
</ion-card>

