<ion-item *ngIf="inputForm" [formGroup]= "inputForm">
  <ion-label position="floating" style="margin-bottom:7px"> {{ text }} </ion-label>
  <ion-input *ngIf="type != 'dateTime'" [type]= "type" [formControlName] = "givenName"  [inputmode] = "inputMode" ></ion-input>
  <ion-datetime *ngIf="type == 'dateTime'" [max]="max" [min]="min" [formControlName] = "givenName" 
    display-format="DD.MMM.YYYY HH:mm"></ion-datetime>
  <ng-container *ngIf="isPassword">
    <ion-icon *ngIf="!showingPassword" name="eye" slot="end" (click)="showPassword(true)"></ion-icon>
    <ion-icon *ngIf="showingPassword" name="eye-off" slot="end" (click)="showPassword(false)"></ion-icon>
  </ng-container>
  <div>
    <div class="pending feedback" *ngIf="async && inputForm.get(givenName).pending"><ion-icon class="icon" name="sync"></ion-icon> {{ async.pendingText }}</div>
    <div class="valid feedback" *ngIf="async && inputForm.get(givenName).valid"> {{ async.validText }} </div>
    <div *ngFor="let validation of validationMessages">
      <div class="invalid-feedback" *ngIf="inputForm.get(givenName).hasError(validation.type) && (inputForm.get(givenName).dirty || inputForm.get(givenName).touched)">
        {{ validation.message + "\n"}}
      </div>
    </div>
  </div>
</ion-item>