<ion-header>
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title class="pageTitle ion-no-padding" >
          Reset your password!
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
     <ion-col offset="4" size="4">
       <form [formGroup]="resetForm" (ngSubmit)="onSubmitReset()">
         <ion-card class="formElement" >
           <app-input-form
                   [inputForm]="resetForm" [givenName]="'password'" [text]="'Enter new password'" [validationMessages]="validationMessages.password"
                   [type]="'password'" [inputMode]="'password'">
           </app-input-form>
         </ion-card>
         <ion-item *ngIf="messageReceived && isErrorMessage" class="invalid-feedback"> {{ message }}</ion-item>
         <ion-item *ngIf="messageReceived && !isErrorMessage" class="feedback" > {{ message }}</ion-item>
         <ion-button class="formButton" expand="block" type="submit"> Reset Password </ion-button>
       </form>
     </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
