<ion-header>
  <ion-toolbar>
    <ion-title>
      Join now!
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row>
      <ion-col size="10" offset="1">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
          <ion-card>
            <ion-item>
              <ion-label></ion-label>
              <ion-input type="text" placeholder="E-mail" formControlName="email"></ion-input>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Not a valid address</div>
                </div>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label></ion-label>
              <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Must be 6+ characters</div>
                </div>
            </ion-item>
            <ion-item>
              <ion-label></ion-label>
              <ion-input type="password" placeholder="Confirm password" formControlName="cpassword"></ion-input>
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                </div>
            </ion-item>
          </ion-card>
          <ion-card class="loginButton">
            <ion-button class="loginButton" fill="empty" size="block" type="submit" routerLink="/registrated">Join now</ion-button>
          </ion-card>
        </form>
        <ion-text >
          Already a member?
          <ion-button fill="empty" size="small" (click)="presentLoginPopover($event)"> Log In </ion-button>
        </ion-text>
      </ion-col>
    </ion-row>
</ion-content>
