<ion-grid class="ion-no-margin ion-no-padding" *ngIf="authService.isLoggedIn()">
    <ion-row>
        <button *ngIf="authService.isLoggedIn()" (click)="showNotificationsPopover($event)"
            (deleteEvent)="checkForNewNotifications()" class="roundButton">
            <ion-icon name="notifications"></ion-icon>
        </button>
        <ion-badge class="notificationsBadge" *ngIf="unreadCount != 0" color="danger" slot="end">
            {{ unreadCount }}</ion-badge>

        <div style="padding-left:5%">
            <button *ngIf="authService.isLoggedIn()" (click)="showProfilePopover($event)" size="small"
                class="roundButton" id="profile">
                <ion-icon name="person"></ion-icon>
            </button>
        </div>
    </ion-row>
</ion-grid>


<div>
    <!-- Buttons to be displayed when the user is not logged in -->
    <ion-button *ngIf="!authService.isLoggedIn()" size="small" class="greyButton" fill="empty"
        (click)="presentLoginPopover()">Login
    </ion-button>
    <ion-button *ngIf="!authService.isLoggedIn()" size="small" class="blueButton" fill="empty"
        (click)="presentRegistrationPopover()">Join
    </ion-button>
</div>