.admin-user {
    --background: var(--ion-color-light);
}

.cursor-pointer {
    cursor: pointer;
}

@media (max-width: 576px) {
	.hide-sm {
		display: none !important;
	}
}

.adminBadge {
	weight: 30px;
	height: 30px;
}
