<ion-header>
    <ion-toolbar>
        <app-header></app-header>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <form [formGroup]="productForm" (ngSubmit)="onSubmitAddProduct()">
            <ion-row>
                <ion-col size="6" offset-md="3">
                    <ion-title>Add a product</ion-title>
                    <ion-card>
                        <ion-item>
                            <app-image-picker class="imagePicker" (imagePick)="onImagePicked($event)">
                            </app-image-picker>
                        </ion-item>

                        <ion-item>
                            <app-map-picker class="imagePicker" (locationPick)="onLocationPicked($event)">
                            </app-map-picker>
                        </ion-item>
                        <ion-card class="formElement">
                            <app-input-form [inputForm]="productForm" [givenName]="'name'" [text]="'Title*'"
                                [validationMessages]="validationMessages.name" [type]="'text'" [inputMode]="'text'">
                            </app-input-form>
                        </ion-card>
                        <ion-card class="formElement">
                            <app-input-form [inputForm]="productForm" [givenName]="'price'" [text]="'Price (in CHF)*'"
                                [validationMessages]="validationMessages.price" [type]="'number'"
                                [inputMode]="'number'">
                            </app-input-form>
                        </ion-card>
                        <ion-card class="formElement">
                            <app-input-form id="locationInput" [inputForm]="productForm" [givenName]="'location'"
                                [text]="'Location: State, City*'" [validationMessages]="validationMessages.location"
                                [type]="'text'" [inputMode]="'text'">
                            </app-input-form>
                        </ion-card>
                        <ion-card>
                            <ion-list>
                                <ion-item>
                                    <ion-label>Category*</ion-label>
                                    <ion-select formControlName="category"
                                        (ionChange)="displayChosenSubcategories($event)" placeholder="Select One"
                                        okText="Okay" cancelText="Dismiss">
                                        <ion-select-option [value]="category.slug" *ngFor="let category of categories">
                                            <ion-label> {{ category.name }}</ion-label>
                                        </ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </ion-list>
                        </ion-card>
                        <ion-card>
                            <ion-list>
                                <ion-item>
                                    <ion-label>Subcategory*</ion-label>
                                    <ion-select formControlName="categorySlug" placeholder="Select One" okText="Okay"
                                        cancelText="Dismiss">
                                        <ion-select-option [value]="subcategory.slug"
                                            *ngFor="let subcategory of chosenSubcategories">
                                            <ion-label> {{ subcategory.name }}</ion-label>
                                        </ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </ion-list>
                        </ion-card>
                        <ion-card>
                            <ion-item>
                                <ion-label position="floating">Description*</ion-label>
                                <ion-textarea formControlName="description"></ion-textarea>
                            </ion-item>
                        </ion-card>
                        <ion-text>*mandatory fields</ion-text>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button type="submit"> Upload product</ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>