<ion-card [routerLink]="['/product-details/', id]">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-title class="ion-no-padding">{{ name }}</ion-title>
            </ion-col>
            <ion-col>
                <ion-text float-right>
                    <ion-icon name="logo-usd"></ion-icon>: {{ price }}</ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="line"></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-text>Rating: {{ rating }} of 5</ion-text>
            </ion-col>
            <ion-col>
                <ion-text float-right>
                    <ion-icon name="flag"></ion-icon>{{ location }}</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>
