<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Log In
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row>
    <ion-col size="10" offset="1">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
        <ion-card>
          <ion-item>
            <ion-label></ion-label>
            <ion-input type="text" placeholder="E-mail*" formControlName="email"></ion-input>
          </ion-item>
        </ion-card>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Not a valid address</div>
        </div>
        <ion-card>
          <ion-item>
            <ion-label></ion-label>
            <ion-input type="password" placeholder="Password*" formControlName="password"></ion-input>
          </ion-item>
        </ion-card>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
        <div *ngIf="messageReceived" class="invalid-feedback"> {{ message }}</div>
        <ion-card class="loginButton">
          <ion-button class="loginButton" fill="empty" expand="block" type="submit"> Log In </ion-button>
        </ion-card>
      </form>
      <ion-text>
        Not a member yet?
        <ion-button fill="empty" size="small" (click)="presentRegistrationPopover($event)"> Join now! </ion-button>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>

