<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Log In
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row>
    <ion-col size="10" offset="1">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
        <ion-card>
          <app-input-form
                  [inputForm]="loginForm" [givenName]="'email'" [text]="'Email*'" [validationMessages]="validationMessages.email"
                  [type]="'email'" [inputMode]="'email'">
          </app-input-form>
        </ion-card>
        <ion-card>
          <app-input-form
                  [inputForm]="loginForm" [givenName]="'password'" [text]="'Password*'" [validationMessages]="validationMessages.password"
                  [type]= "'password'" [inputMode]="'password'">
          </app-input-form>
        </ion-card>

        <ion-item *ngIf="messageReceived" class="invalid-feedback"> {{ message }} </ion-item>

        <ion-card class="formButton">
          <ion-button class="formButton" fill="empty" expand="block" type="submit"> Log In </ion-button>
        </ion-card>
      </form>
      <ion-text>
        Not a member yet?
        <ion-button fill="empty" size="small" (click)="presentRegistrationPopover($event)"> Join now! </ion-button>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>

