.profileProductsItem {
  width: 100%;
  cursor: pointer;
  font-size:0.8em;
}

.verified {
  color: var(--ion-color-success);
}

.notVerified {
  color: var(--ion-color-danger);
}

.toRevise {
  color: var(--ion-color-warning);
}

.profileProductsTitle {
  font-weight: bold;
  font-size:0.8em;
}

ion-avatar img {
  width: 100% !important;
  height: 100% !important;
}


.borderLine {
 border-bottom: black 1px solid;
}
