<ion-header>
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-title>
    You are now registered!
  </ion-title>
  <ion-grid>
    <ion-row >
      <ion-col>
        <div>
          We have sent a validation email to your email-address. Please click on the given link to finish the registration process.
          <br>
          If you have not received an email press the button below to resend.
        </div>
        <div>
          <ion-button (click)="resendEmail()">Resend</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
