<ion-header>
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset="2">
        <ion-title class="pageTitle ion-no-padding" >
          You are now registered!
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="2">
        <ion-text class="pageText">
          We have sent a validation email to your email-address.
          <br>
          If you have not received an email press the button below to resend.
        </ion-text>
        <div>
          <ion-button class="blueButton" fill="empty" (click)="resendEmail()">Resend</ion-button>
          <ion-icon *ngIf="showResentMessage" class="checkmark-circle" name="checkmark-circle"></ion-icon>
          <ion-icon *ngIf="showNotResentMessage" class="close-circle" name="close-circle"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
