.profileProductsItem {
  width: 100%;
  cursor: pointer;
  font-size:0.8em;
}

.verified {
  color: var(--ion-color-success);
}

.notVerified {
  color: var(--ion-color-danger);
}

.toRevise {
  color: var(--ion-color-warning);
}

.profileProductsTitle {
  font-weight: bold;
  font-size:0.8em;
}