<ion-header>
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title class="pageTitle ion-no-padding ion-margin-bottom " >
          Verification
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="pageText">
        <ion-text >
          Status of your email validation:
          <br>
          <div *ngIf="messageReceived">
            {{ message }}
          </div>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>