/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.popover-style {
  --width: 30vw;
  --heigth: 50vh;
}

.subcategoryMenuPopover {
  --width: 100vw;
}

.invalid-feedback {
  color: var(--ion-color-danger);
  font-size: 12px;
  padding-bottom: 5px;
  font-family: sans-serif;
}

.feedback {
  color: var(--ion-color-dark);
  font-size: 12px;
  padding-bottom: 5px;
  font-family: sans-serif;
}

.checkmark-circle {
  color: var(--ion-color-success);
}

.close-circle {
  color: var(--ion-color-danger);
}

.formButton{
  font-size: 12px;
  font-weight: bold;
  color: white;
  --padding-end: 20px;
  --padding-start: 20px;
  --background-color: var(--ion-color-primary);
  --background-hover: var(--ion-color-light);
  --color-hover: var(--ion-color-dark);
  margin-left: 5px;
  margin-right: 5px;
}

ion-avatar img {
  width: 100% !important;
  height: 100% !important;
}

.greyButton{
    font-size: 12px;
    font-weight: bold;
    --color: var(--ion-color-secondary);
    --border-color: var(--ion-color-secondary);
    --border-style: solid;
    --border-width: 1px;
    --border-radius: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
    --background-hover: var(--ion-color-secondary);
    --color-hover: white;
    margin-left: 5px;
    margin-right: 5px;
}

.blueButton {
  font-size: 12px;
  font-weight: bold;
  --color: var(--ion-color-primary);
  --border-color: var(--ion-color-primary);
  --border-style: solid;
  --border-width: 1px;
  --border-radius: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
  --background-hover: var(--ion-color-primary);
  --color-hover: white;
  margin-left: 5px;
  margin-right: 5px;
}

.redButton {
  font-size: 12px;
  font-weight: bold;
  --color: var(--ion-color-danger);
  --border-color: var(--ion-color-danger);
  --border-style: solid;
  --border-width: 1px;
  --border-radius: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
  --background-hover: var(--ion-color-danger);
  --color-hover: white;
  margin-left: 5px;
  margin-right: 5px;
}

.greenButton {
  font-size: 12px;
  font-weight: bold;
  --color: var(--ion-color-success);
  --border-color: var(--ion-color-success);
  --border-style: solid;
  --border-width: 1px;
  --border-radius: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
  --background-hover: var(--ion-color-success);
  --color-hover: white;
  margin-left: 5px;
  margin-right: 5px;
}

.redButton {
  font-size: 12px;
  font-weight: bold;
  --color: var(--ion-color-danger);
  --border-color: var(--ion-color-danger);
  --border-style: solid;
  --border-width: 1px;
  --border-radius: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
  --background-hover: var(--ion-color-danger);
  --color-hover: white;
  margin-left: 5px;
  margin-right: 5px;
}

.orangeButton {
  font-size: 12px;
  font-weight: bold;
  --color: var(--ion-color-warning);
  --border-color: var(--ion-color-warning);
  --border-style: solid;
  --border-width: 1px;
  --border-radius: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
  --background-hover: var(--ion-color-warning);
  --color-hover: white;
  margin-left: 5px;
  margin-right: 5px;
}

.pageTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1vh;
  text-align: center;
}

.pageText {
  font-size: 18px;
  margin-bottom: 1vh;
  line-height: 2em;
  text-align: center;
}

.popoverTitle {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
}

.popoverFooter {
  font-size: 15px;
  padding-bottom: 18px;
  padding-top: 18px;
  text-align: center;
}

.removeScrollbarForPopover {
  overflow-y: hidden;
}

.formElement {
  margin-top: 10px;
  margin-bottom: 10px;
}

.subcategoryListItem {
  --min-height: 0px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subcategoryList {
  padding-bottom: 1px;
  padding-top: 1px;
}

.custom-spinner{
  width: 100px;
  height: auto;
  animation: spin 2s infinite linear;
  display: block;
  padding: 20px;
  transform-origin: 60% 40%;
}

@keyframes spin {
 0%{
    -webkit-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1);
  }


    100% {
      -webkit-transform: rotate(0deg) scale(0.9);
      transform: rotate(1080deg) scale(0.9);
    }
}

@media only screen and (max-device-width: 768px) {
  .popover-style .popover-content { min-width: 250px; }
}

@media only screen and (max-device-width: 576px) {
  .popover-style .popover-content { min-width: 80vw; }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: textfield !important; 
      appearance: textfield !important;
      margin: 0 !important;
      border: 1px solid black;
  }
  input[type=number] {
    -moz-appearance:textfield !important;
    appearance: textfield !important;
    border: 1px solid blackS;
}

ion-alert button.delete-button {
  background-color:var(--ion-color-danger) !important;
  color: var(--ion-color-danger-contrast) !important;
}
ion-alert button.cancel-button {
  border: 1px solid var(--ion-color-primary) !important;
}

.thumbnail {
  position: relative;
  overflow: hidden;
  justify-content: center;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.results {
  flex: 0 0 calc(calc(8 / var(--ion-grid-columns, 12)) * 100%);
  width: calc(calc(8 / var(--ion-grid-columns, 12)) * 105%);
  max-width: calc(calc(8 / var(--ion-grid-columns, 12)) * 105%);
  height: 20%;
  max-height: 30vh;

  ion-backdrop {
    background:none !important;
  }

  .popover-content{
    width: 100%;
    max-height: 100%;
    overflow: hidden;

    app-search-result{
      display: contents;
      max-height: 100%;
    }
  }
}

.profile-popover{
  ion-backdrop {
    background:none !important;
  }
}

.search-results-popover {
  ion-backdrop {
    background:none !important;
  }
}

.notifications-popover{
  ion-backdrop {
    background:none !important;
  }
  left: 0 !important;
  padding:0px !important;
  margin:0px !important;
  width:100%!important;
}

.notifications-popover .popover-content {
  width:330px;
}

.spacer {
  @media (max-width: 576px) {
    height: 10px;
  }
  @media (min-width: 576px) {
    height: 20px;
  }
}

.sortBy {
  font-size: 15px;
  font-weight: bold;
  color: var(--ion-color-primary);
  border-color: var(--ion-color-primary);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  margin-left: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 10px;
}
