<ion-header>
    <ion-toolbar>
        <app-header></app-header>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding">
    <ion-card *ngIf="subcategory" class="backgroundGradient cardMargin">
        <ion-grid>
            <ion-row>
                <ion-col size="12" size-sm="6" size-md="8">
                    <ion-title class="ion-no-padding bigTitle">{{ subcategory.name }}</ion-title>
                    <ion-text> {{ subcategory.parent }}</ion-text>
                </ion-col>
                <ion-col size="12" size-sm="6" size-md="4">
                    <app-carousel *ngIf="carouselIsReady" [carouselName]="'Featured products'"
                        [carouselSlug]="'featured'" [productCarousel]="this.featuredProducts"
                        [startingCarouselSize]="1">
                    </app-carousel>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-grid class="ion-padding-none">
        <ion-row class="filter-list">
            <ion-col size="0" size-sm="2"></ion-col>
            <ion-col>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" size-md="2" class="filter-col ion-margin-top">
                <app-filter (filterChanged)="onRatingFilterChanged($event)">
                    <div class="filter-title" title>Select your Rating:</div>
                    <div class="filter-input" input>
                        <ion-icon *ngFor="let i of array(5)" class="rating"
                            [name]="i>filledStars ? 'star-outline' : 'star'" (mouseenter)="fillTo(i)"
                            (click)="onRatingFilterChanged(i)"></ion-icon> and more
                    </div>
                </app-filter>
                <app-filter (filterChanged)="onPriceFilterChanged($event)">
                    <div class="filter-title" title>Select your Price range:</div>
                    <div class="filter-input" input>
                        <ion-range [min]="priceSpan.lower" [max]="priceSpan.upper" dualKnobs="true" pin="true" step="1" [value]="priceSpan">
                        </ion-range>
                        From: <ion-input type="number" [value]="priceSpan.lower"></ion-input> to <ion-input type="number" [value]="priceSpan.upper"></ion-input>
                    </div>
                </app-filter>

            </ion-col>
            <ion-col size="12" size-md="10">
                <ion-grid>
                    <ion-row>
                        <ion-col *ngFor="let product of products" size="12" size-md="6" size-xl="4">
                            <app-subcategory-item class="item" [verified]="product.verified" [rating]="product.rating"
                                [id]="product._id" [name]="product.name" [price]="product.price"
                                [location]="product.location" [imageSrc]="product.image">
                            </app-subcategory-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>