<ion-header>
    <ion-toolbar>
        <app-header></app-header>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding" >
    <ion-card *ngIf="subcategory" class="backgroundGradient cardMargin">
        <ion-grid>
            <ion-row class="ion-align-items-center">
                <ion-col>
                    <ion-title class="ion-no-padding bigTitle">{{ subcategory.name }}</ion-title>
                    <ion-text> {{ subcategory.parent }}</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card class="cardMargin">
        <ion-title class="ion-no-padding">Filter by:</ion-title>
        <ion-button size="small" fill="empty">Rating
            <ion-icon name="star" slot="start"></ion-icon>
        </ion-button>
        <ion-button size="small" fill="empty">Location
            <ion-icon name="pin" slot="start"></ion-icon>
        </ion-button>
        <ion-button size="small" fill="empty">Price
            <ion-icon name="card" slot="start"></ion-icon>
        </ion-button>
    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let product of products" size="12" size-md="6" size-xl="4">
                <app-subcategory-item
                        [verified]="product.verified"
                        [rating]="product.rating"
                        [id]="product._id"
                        [name]="product.name"
                        [price]="product.price"
                        [location]="product.location" >
                </app-subcategory-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>




