ion-searchbar{
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  @media (max-width: 768px) {
    top: 60%;
  }
  @media (min-width: 768px) {
    top: 70%;
  }
}

img {
  max-width: 100%;
  height: auto;
}

