<ion-header>
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset="2">
        <ion-title class="pageTitle ion-no-padding" >
          Verification
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="2">
        <ion-text class="pageText">
          Status of your email validation:
          <br>
          <div *ngIf="messageReceived">
            {{ message }}
          </div>
        </ion-text>
        <div>
          <ion-button class="blueButton" fill="empty" routerLink="/home"> Home </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>