<ion-card>
    <ion-card-header>
        <ion-grid>
            <ion-row>
                <ion-col size="6" size-sm="4" size-md="2">
                    <ion-avatar style="object-fit: cover; width:100%; height:100%;+" *ngIf=!changeable>
                        <img style="width:100%; height:100%; object-fit: cover;" [src]="profileItem.image">
                    </ion-avatar>
                    <ion-avatar class="cursor-pointer pickerAvatar"  style="object-fit: cover; width:100%; height:100%;" *ngIf="changeable">
                        <app-image-picker #imagePicker style="width:100%; height:100%; object-fit: cover;" (imagePick)="onImagePicked($event)" [profilePicker]="true"
                                          [preSelectedImage]="profileItem.image">
                        </app-image-picker>
                        <ion-badge class="changePictureBadge ion-float-end">
                            <ion-icon name="add"></ion-icon>
                        </ion-badge>
                    </ion-avatar>
                </ion-col>
                <ion-button *ngIf="!hideDelete" class="redButton deleteProductButton" fill="outline" (click)="onClickDelete()">
                    <ion-icon name="close"></ion-icon>
                    Delete
                </ion-button>
            </ion-row>
            <ion-row>
                <ion-card-title *ngIf="typeOfProfileItem === typeOfUser">{{ profileItem.email }}</ion-card-title>
                <ion-card-title *ngIf="typeOfProfileItem === typeOfProduct">{{ profileItem.name }}</ion-card-title>
            </ion-row>
        </ion-grid>
    </ion-card-header>
    <ion-card-content>
        <ion-grid #grid>
            <ion-row class="row" *ngFor="let key of profileItemData">
                <ion-col>{{ getKeyString(key) }}</ion-col>
                <ion-col>{{ getValueString(key) }} </ion-col>
                <ion-col *ngIf="changeable" size="1">
                    <ion-icon class="cursor-pointer" name="create" (click)=onClickEdit()></ion-icon>
                </ion-col>
                <ion-col *ngIf="changeable" class="hidden">
                    <ion-input [value]="profileItem[key]" (ionChange)="onChangedInput()"></ion-input>
                </ion-col>
                <ion-col *ngIf="changeable" class="hidden" size="1">
                    <ion-icon class="cursor-pointer" name="save" (click)=onClickSave()></ion-icon>
                </ion-col>
                <ion-col class="hidden" size="0">{{key}}</ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row class="ion-justify-content-end">
                <ion-button #updateButton color="warning" class="hidden" (click)="onClickSave()">Update
                </ion-button>
            </ion-row>
        </ion-grid>
        <ion-grid *ngIf="additionalValues">
            <ion-row class="additionalInformation"> Additional information</ion-row>
            <ion-row class="row" *ngFor="let key of additionalInformation">
                <ion-col> {{ getKeyString(key)}} </ion-col>
                <ion-col *ngIf="!(getKeyString(key) === 'Category')">{{ getValueString(key)}}</ion-col>
                <ion-col *ngIf="getKeyString(key) === 'Category'"> {{getCategoryValue(key)}}</ion-col>
                <ion-col size="1"></ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>
