<ion-header>
    <ion-toolbar>
        <app-top-header></app-top-header>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-navigation-bar class="ion-hide-md-down"></app-navigation-bar>
    <app-home-banner></app-home-banner>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let cat of categories" offset="0" size="12" offset-md="1" size-md="10">
                <app-carousel
                        [carouselName]="cat.name"
                        [categoryCarousel]="[cat.subcategories]"
                        [carouselSlug]="cat.slug"
                        [startingCarouselSize]="5">
                </app-carousel>
            </ion-col>
        </ion-row>
        <ion-row class="spacer"></ion-row>
        <ion-row class="spacer"></ion-row>
    </ion-grid>
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col offset="1" size="10" offset-md="3" size-md="6">
                    <img class="imageSize"  src="assets/images/howitworks.png">
                </ion-col>
            </ion-row>
            <ion-row class="spacer"></ion-row>
            <ion-row>
                <ion-col offset="0" size="12" offset-md="2" size-md="8">
                    <ion-card-header>
                        <ion-card-title>How it works</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren.
                    </ion-card-content>
                </ion-col>
            </ion-row>
            <ion-row class="spacer"></ion-row>
        </ion-grid>
    </ion-card>
    <ion-card>
        <ion-grid>
            <ion-row class="spacer"></ion-row>
            <ion-row>
                <ion-col offset="1" size="10" offset-md="3" size-md="6">
                    <img class="imageSize" src="assets/images/becomesellerMobile.png">
                </ion-col>
            </ion-row>
            <ion-row class="spacer"></ion-row>
            <ion-row>
                <ion-col offset="0" size="12" offset-md="2" size-md="8">
                    <ion-card-header>
                        <ion-card-title>How to become a seller</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        At vero eos et accusam et justo duo dolores et ea rebum.<br/><br/>
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                        dolor sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                        erat. At vero eos et accusam et justo duo dolores et ea rebum.
                    </ion-card-content>
                </ion-col>
            </ion-row>
            <ion-row class="spacer"></ion-row>
        </ion-grid>
    </ion-card>
    <ion-card color="medium">
        <ion-grid>
            <ion-row>
                <ion-col offset="0" size="6" offset-md="2" size-md="4">
                    <img src="assets/images/foodbeverage1.jpeg">
                </ion-col>
                <ion-col offset="0" size="6" offset-md="0" size-md="4">
                    <img src="assets/images/foodbeverage2.jpeg">
                </ion-col>
            </ion-row>
            <ion-row class="spacer"></ion-row>
            <ion-row>
                <ion-col offset="0" size="12" offset-md="2" size-md="8">
                    <ion-card-header>
                        <ion-card-subtitle>You can't buy happiness but you can buy good food</ion-card-subtitle>
                        <ion-card-title>Catering</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Food service (US English) or catering industry (British English) defines those businesses, institutions, and
                        companies responsible for any meal prepared outside the home. <br/><br/>
                        This industry includes restaurants, school and
                        hospital cafeterias, catering operations, and many other formats.
                    </ion-card-content>
                </ion-col>
            </ion-row>
            <ion-row class="spacer"></ion-row>
        </ion-grid>
    </ion-card>
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col offset="0" size="6" offset-md="2" size-md="4">
                    <img src="assets/images/equipment1.jpeg">
                </ion-col>
                <ion-col offset="0" size="6" offset-md="0" size-md="4">
                    <img src="assets/images/equipment2.jpeg">
                </ion-col>
            </ion-row>
            <ion-row class="spacer"></ion-row>
            <ion-row>
                <ion-col offset="0" size="12" offset-md="2" size-md="8">
                    <ion-card-header>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                        <ion-card-title>Services</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut aliquyam erat, sed diam voluptua. <br/><br/>
                        Lorem ipsum dolor sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                        erat. At vero eos et accusam et justo duo dolores et ea rebum.
                    </ion-card-content>
                </ion-col>
            </ion-row>
            <ion-row class="spacer"></ion-row>
        </ion-grid>
    </ion-card>
    <ion-card color="medium">
        <ion-grid>
            <ion-row>
                <ion-col offset="0" size="6" offset-md="2" size-md="4">
                    <img src="assets/images/realestate1.jpeg">
                </ion-col>
                <ion-col offset="0" size="6" offset-md="0" size-md="4">
                    <img src="assets/images/realestate2.jpeg">
                </ion-col>
            </ion-row>
            <ion-row class="spacer"></ion-row>
            <ion-row>
                <ion-col offset="0" size="12" offset-md="2" size-md="8">
                    <ion-card-header>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                        <ion-card-title>Location</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </ion-card-content>
                </ion-col>
            </ion-row>
            <ion-row class="spacer"></ion-row>
        </ion-grid>
    </ion-card>
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col offset="0" size="6" offset-md="2" size-md="4">
                    <img src="assets/images/services1.jpeg">
                </ion-col>
                <ion-col offset="0" size="6" offset-md="0" size-md="4">
                    <img src="assets/images/services2.jpeg">
                </ion-col>
            </ion-row>
            <ion-row class="spacer"></ion-row>
            <ion-row>
                <ion-col offset="0" size="12" offset-md="2" size-md="8">
                    <ion-card-header>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                        <ion-card-title>Entertainment</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. <br/><br/>
                        Lorem ipsum dolor sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                        erat. At vero eos et accusam et justo duo dolores et ea rebum.
                    </ion-card-content>
                </ion-col>
            </ion-row>
            <ion-row class="spacer"></ion-row>
        </ion-grid>
    </ion-card>
    <app-footer></app-footer>
</ion-content>
