<ion-list>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3" offset-md="4" offset-lg="6">
            <ion-select #sortSelection placeholder="Pending orders" okText="OK" cancelText="Cancel" (ionChange)="onFilterChange($event)">
                <ion-select-option value="all">All orders</ion-select-option>
                <ion-select-option value="pending" [selected]="true">Pending orders</ion-select-option>
                <ion-select-option value="accepted">Accepted orders</ion-select-option>
                <ion-select-option value="rejected">Rejected orders</ion-select-option>
                <ion-select-option value="paid">Paid orders</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row class = "ordersTitleBar" *ngIf="ordersToShow && ordersToShow.length > 0">
            <ion-col class="ordersTitle" offset="1">
                Product
            </ion-col>
            <ion-col class="ordersTitle">
                Customer
            </ion-col>
            <ion-col class="ordersTitle">
                Ordered on
            </ion-col>
        </ion-row>
        <ion-row *ngIf="isLoading">
            Loading orders...
        </ion-row>
        <ion-row *ngFor="let order of ordersToShow">
            <ion-item-sliding [routerLink]="['../order-details', order._id]">
                <ion-item class="profileProductsItem ion-no-padding ">
                    <ion-col size="1">
                        <ion-avatar style="width:auto; height:auto;">
                            <img style="width:auto; height:auto;" *ngIf="order.product.image" src="{{ order.product.image }}">
                        </ion-avatar>
                    </ion-col>
                    <ion-col>
                        {{ order.product.name }}
                    </ion-col>
                    <ion-col  >
                        {{ order.buyer.name }}
                    </ion-col>
                    <ion-col >
                        {{ order.orderDate | date : "dd.MM.y hh:mm" }}
                    </ion-col> 
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option color="success" (click)="acceptOrder(order._id)">
                        Accept
                    </ion-item-option>
                    <ion-item-option color="danger" (click)="rejectOrder(order._id)">
                        Reject
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-row>
        <ion-row *ngIf="(!ordersToShow || ordersToShow.length == 0) && !isLoading">No orders found.</ion-row>
    </ion-grid>
</ion-list>
