ion-thumbnail{
  height: 125px;
  width: 100%;
}

.image {
  padding: 0px;
  margin: 0px;
  box-shadow: none;

  @media (max-width: 768px) {
    max-width: 200px;
  }
}


.itemTitle {
  padding-bottom: 10px;
  border-bottom: 0.5px black solid;
}
